:root {
    --navbar-bg: rgba(0, 0, 0, 0.6);
    --navbar-text: rgba(255, 255, 255, 1);
    --sanity-bar: rgba(255, 0, 0, 0.5);
    --card-background: rgba(0, 0, 0, 0.2);
    --text: rgba(255, 255, 255, 0.7);
    --main: rgba(0, 0, 0, 0.6);
    --biblio-button-text: rgba(0, 0, 0, 0.9);
    --dropdown-bg: rgba(0, 0, 0, 0.9);
    --svg-text-fill: rgb(0, 255, 191);
    --svg-text-stroke: rgba(255, 255, 255, 1);
    --svg-text-shadow: black;
    --button-text-hover: rgba(255, 0, 0, 0.8);
    --boardgame-scrollbar: rgba(0, 255, 191, 0.5);
    --boardgame-text: rgba(0, 255, 191, 0.8);
    --reader-dark: rgba(0, 0, 0, 0.8);
    --contact-theme: rgb(120, 200, 120);
    --contact-outline: rgba(0, 0, 0, 1);
    --world-text: rgba(80, 240, 250, 1);
    --world-background: rgba(80, 240, 250, 0.6);
    --world-panes-background: rgba(0, 0, 0, 0.7);
}


/* body Lovecraft area  */
body {
    background-image: url("https://i.ibb.co/B455r0V/Cthulhu-by-Marconis-Nightmare.jpg");
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: auto;
}

/* background changes at other pages */

.home {
    background-image: none;
    background-color: black;
}
.the-world {
    background-image: url("../Images/The\ Color\ Out\ of\ Space.jpeg");
    background-position: center;
}

.board-games {
    background-image: url("../Images/Octopus\ -\ ThankYouFantasyPictures.jpg");
}

.computer-games {
    background-image: url("../Images/Detective\ in\ Innsmouth.jpg");
    background-position: center;
}

.rpg {
    background-image: url("../Images/Craziness\ -\ FranSoto.jpg");
    background-position: center;
}

.reader {
    background-image: url("../Images/Letters.jpg");
}

.contact {
    background-image: url("../Images/Call_me.jpeg");
    /* background-position: center; */
}




/* hide scrollbar */
body::-webkit-scrollbar {
    display: none;
}


/* bibliography */
#bibliography {
    text-align: center;
}
.th-form {
    width: 25%;
}

.bibliography-button {
    width: 100%;
    text-align: left;
    background-color: var(--text);
    color: var(--biblio-button-text);
}

.bibliography-button:hover {
    color: var(--sanity-bar);
    background-color: var(--dropdown-bg);
}

#titleOutput {
    position: sticky;
    top: 3.1rem;
}

.card-body h5 {
    background-color: var(--biblio-button-text);
    padding: 0.25rem 0.25rem 0.4rem 0.25rem;
    border-radius: 0.5rem;
    box-shadow: -1.5px -1.5px 1px rgb(92, 92, 92);
    font-variant: small-caps;
    font-weight: normal;
}

#textOutput {
    text-align: justify;
}

blockquote,
pre {
    width: 90%;
    margin: 0 auto 1rem auto;
    background-color: var(--main);
    border-radius: 0.5rem;
    font-style: italic;
    padding: 0.5rem 1rem;
}

pre {
    color: var(--text);
    font-style: normal;
    padding: 0.5rem 0;
}

.biblio-fulltext-link {
    background-color: var(--biblio-button-text);
    border-radius: 0.5rem;
    position: sticky;
    top: 5.25rem;
    z-index: 10;
    font-variant: small-caps;
}

#larger-font,
#biblio-button,
#invert-colors,
#title-button {
    top: 3rem;
}

.biblio-fulltext-link,
.biblio-fulltext-link a,
#larger-font {
    color: var(--text);
}

.card-link:hover,
.biblio-fulltext-link a:hover,
.biblio-fulltext-link:hover,
#larger-font:hover {
    text-decoration: none;
    color: var(--button-text-hover);
}

/* reader */
#reader {
    background-color: var(--reader-dark);
    color: var(--text);
    border-radius: 0.5rem;
    opacity: 0.8;
}

#reader-title {
    color: var(--text);
    text-shadow: 0 0 10px black;
    position: absolute;
    top: 0.4rem;
    position: sticky;
}

.reader-navbar {
    background-color: var(--reader-dark);
}


/* resource links in main */
.source {
    text-align: right;
}

.source a {
    color: var(--text);
}

.source a:hover {
    color: var(--sanity-bar);
    text-decoration: none;
}


/* navbar */
nav {
    background-color: var(--navbar-bg);
    line-height: 2rem;
    height: 3rem;
}

#mythos-main,
#lovecraft-main,
#contact {
    color: var(--navbar-text);
    padding: 0 2rem;
}

#mythos-main-collapse,
#lovecraft-main-collapse,
#contact-collapse {
    color: var(--navbar-text);
}

.dropdown:hover>.dropdown-menu {
    display: block;
    padding: 0;
}

.dropdown-menu {
    margin: -0.125rem 0 0;
    background-color: var(--dropdown-bg);
    border-radius: 0.5rem;
}

.dropdown-menu a {
    color: var(--navbar-text)
}

.dropdown-menu a:last-of-type {
    padding-bottom: 0.5rem;
}

#collapsed {
    display: none;
}

#burger-button {
    background-image: url("data:image/svg+xml,<svg width='100%' height='100%' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255,1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
    background-position: center;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: -0.7rem;
}



/* progress bar */
.progress {
    background-color: var(--navbar-bg);
    height: 0.3rem;
}

.progress-bar {
    background-color: var(--sanity-bar);
}


/* main containers */
.container {
    padding: 1rem;
    width: 60%;
    margin: 6rem auto 1rem auto;
    background-color: var(--main);
    border-radius: 0.5rem;
}

.container-title {
    text-align: center;
    color: var(--text);
    margin: 1rem 0 3rem;
}

.card {
    background-color: var(--card-background);
    color: var(--text)
}

.card-title {
    margin-top: 1rem;
    text-align: center;
}

.card-link {
    color: var(--text);
}

#cthulhu-hover,
#lovecraft-hover {
    fill: transparent;
}

.eyes {
    transition: 2000ms;
    fill: rgba(255, 0, 0, 1);
    fill-opacity: 0%;
}

#cthulhu-hover:hover~.eyes,
#lovecraft-hover:hover~.eyes,
#contact-hover:hover~.eyes {
    fill-opacity: 100%;
}

#home-header,
#home-mythos-text,
#home-lovecraft-text,
#home-contact-text {
    font-family: monospace;
    font-size: 2.8rem;
    fill: var(--svg-text-fill);
    stroke: var(--svg-text-stroke);
    stroke-width: 1px;
    text-shadow: 0 0 0.5rem var(--svg-text-shadow);
    transition: 2000ms;
}

#home-mythos-text,
#home-lovecraft-text,
#home-contact-text {
    opacity: 0%;
}

#cthulhu-hover:hover~#home-mythos-text {
    opacity: 100%;
}

#cthulhu-hover:hover~#home-header {
    opacity: 0%;
}

#lovecraft-hover:hover~#home-lovecraft-text {
    opacity: 100%;
}

#lovecraft-hover:hover~#home-header {
    opacity: 0%;
}

#contact-hover:hover~#home-mythos-text {
    opacity: 100%;
}

#contact-hover:hover~#home-header {
    opacity: 0%;
}


/* Text editting */
.no-wrap-text {
    white-space: nowrap;
}


/* boardgame, world and RPG section  */
.container-boardgame {
    background-color: transparent;
}

.card-img-overlay {
    border-radius: 0.5rem;
    opacity: 0;
    overflow-y: auto;
    transition: 1s ease;
    color: var(--boardgame-text);
    background-color: var(--dropdown-bg);
    scrollbar-width: thin;
    scrollbar-color: var(--boardgame-scrollbar) var(--navbar-bg);
}

.card-img-top .boardgame-img {
    border-radius: 0.5rem;
}

.card:hover .card-img-overlay {
    opacity: 1;
}

.boardgame-link {
    text-align: center;
    color: var(--boardgame-text);
}

.boardgame-title,
.rpg-title {
    color: var(--boardgame-text);
    text-shadow: 0 0 0.4rem black;
}

.boardgame-card {
    background-color: var(--dropdown-bg);
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.overlay-title {
    margin: -0.25rem 0 1rem 0;
}

/* rpg section */
.container-rpg {
    background-color: transparent;
}

.card-rpg {
    background-color: transparent;
    border: none;
}

.card-body-rpg {
    padding: 1rem;
    background-color: var(--reader-dark);
    border: none;
    border-radius: 0 0.5rem 0.5rem 0.5rem;
    border-left: 1px solid var(--boardgame-scrollbar);
}

.card-header-rpg {
    padding: 0;
    margin-left: 0;
}

.card-title-main {
    margin: 1rem 0 1rem 0;
}

.card-subtitle {
    margin: 3rem auto 1.5rem auto;
    font-size: 1.2rem;
    color: var(--boardgame-scrollbar);
}

.card-title-main,
.card-subtitle {
    text-shadow: none;
}

.slim-title {
    margin: 0.5rem 0;
    color: var(--boardgame-scrollbar);
}

.card-header-tabs {
    margin: 0 0 -1px 0;
}

.rpg-tab-content {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.nav-tabs .nav-item .nav-link {
    background-color: var(--boardgame-scrollbar);
    color: var(--dropdown-bg);
    font-variant: small-caps;
    border-left: 1px solid var(--reader-dark);
}

.nav-tabs:first-of-type .nav-item:first-of-type .nav-link:first-of-type {
    border-left: 1px solid var(--boardgame-scrollbar);
}

.nav-tabs .nav-item .nav-link:hover {
    color: var(--dropdown-bg);
    text-shadow: 0 0 0.5rem white;
    border: 1px solid var(--reader-dark);
}

.nav-tabs .nav-item .nav-link.active {
    background-color: var(--reader-dark);
    color: var(--boardgame-text);
    border-color: var(--boardgame-scrollbar);
    border-bottom: none;
}

#iframe-arkham-graveyards,
#iframe-character-sheet,
.iframe-smaller {
    margin: 0 auto;
    border: 1px solid var(--boardgame-scrollbar);
    border-radius: 0.5rem;
}

.rpg-lower-columns .card-subtitle {
    margin: 1.5rem auto 0.5rem auto;
}

.iframe-link {
    display: block;
    margin: 0 auto;
}

.rpg-image {
    width: 100%;
}

.subtitle-link {
    color: var(--boardgame-scrollbar);
}

/* mythos section - color adjustment + img text wrap*/
.world-title {
    color: var(--world-text);
    text-shadow: 0 0 0.5rem black;
}

.card-body {
    background-color: var(--world-panes-background);
}
.nav-tabs .nav-item .world-nav-link {
    background-color: var(--world-background);
}
.nav-tabs .nav-item .world-nav-link.active, .world-title {
    color: var(--world-text);
}
.nav-tabs .nav-item .world-nav-link.active, .world-card-body {
    border-color: var(--world-background);
}
.nav-tabs:first-of-type .nav-item:first-of-type .world-nav-link:first-of-type {
    border-left: 1px solid var(--world-background);
}

.world-slim-title {
    color: var(--world-background);
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

.text-wrap, .text-wrap-small {
    width: 50%;
    float: left;
    margin: 0.5rem 1rem 0 0; 
}
.text-wrap-small {
    width: 30%;

}
.sepia {
    filter: sepia(60%);
    filter: brightness(80%)
}
.world-links {
    text-align: center;
}



/* contact section */
.container-contact {
    margin: 0;
    padding: 1rem;
    position: fixed;
    width: 25%;
    top: 3.2rem;
    left: 40%;
    background: none;
    transform: rotate(1.1deg)
}

.indent {
    margin-left: 0.3rem;
}

.contact-title {
    margin-bottom: 1rem;
    padding: 0;
    font-size: 1.3rem;
}

.contact-title,
.contact-subtitle,
.indent {
    color: var(--dropdown-bg);
    text-shadow: 0 0 0.5rem var(--text);
}

.contact-title:hover,
.contact-subtitle:hover,
.indent:hover {
    color: wheat;
    text-shadow: 0 0 0.5rem black;
}

/* class and pseudoselector with "focus" so that after clicking the button it doesn't turn blue */
.contact-button,
.contact-button:focus,
.contact-button.focus {
    color: var(--dropdown-bg);
    background-color: wheat;
    border: 5px outset var(--reader-dark);
    border-radius: 2rem;
    box-shadow: none;
}

.contact-button:hover {
    background-color: var(--dropdown-bg);
    border: 5px inset var(--reader-dark);
    color: beige;
}

#modal-form {
    background-image: url("../Images/whitenoise.png");
    ;
}

.modal-content,
.modal-body {
    border-radius: 0.5rem;
}

.modal-body {
    border: 5px outset var(--dropdown-bg);
}

.modal-body {
    background-image: url("../Images/Cthulhu\ beer.png");
    background-size: cover;
    background-attachment: scroll;
    background-position: bottom;
}

.form-group {
    width: 50%;
}

.form-control {
    background-color: var(--main);
    color: white;
    border-color: var(--contact-theme);
    border-top-left-radius:  0;
}

.form-check {
    background-color: var(--contact-theme);
    border-radius: 0.3rem;
    padding: 0.1rem 0 0.1rem 0.1rem;
}

#check-label {
    border: none;
    height: 100%;
    margin-left: 1rem;
}
.form-check-input {
    margin: 0.4rem 0 0.4rem 0.4rem;
}



.modal-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 0.2rem var(--contact-outline);
    transform: rotate(2deg);
}

.btn-submit,
.btn-close,
.form-label {
    background-color: var(--contact-theme);
    border-radius: 0.5rem;
    color: var(--contact-outline);
    border: 1px outset var(--contact-outline);
}

.btn-submit:hover,
.btn-close:hover, .contact-choose-file-button::file-selector-button:hover, .form-label-admin:hover{
    background-color: var(--contact-outline);
    color: var(--contact-theme);

}

.form-label {
    padding: 0 0.5rem 0.2rem 0.5rem;
    margin-bottom: -0.05rem;
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0;
    border-color: var(--contact-outline);
}

/* contact admin section  */
.contact-choose-file-button::file-selector-button {
    border: none;
    background-color: var(--contact-theme);
    border-radius: 0.3rem;
    margin-top: 0.2rem;
    margin-left: 0;
}

#admin-section {
    display: none;
}

.btn-reply {
    margin-top: -0.05rem;
    border-radius: 0 0 0.3rem 0.3rem;
    border-top-color: var(--contact-theme);
}
.btn-reply a {
    color: var(--contact-outline);
}
.btn-reply a:hover {
    color: var(--contact-theme);
    text-decoration: none;
}




/* small-caps for everyone :) */
.boardgame-link,
.boardgame-title,
.overlay-title,
.container-title,
.rpg-title,
.modal-title,
.contact-button,
.contact-button:focus,
.contact-button.focus {
    font-variant: small-caps;
}






/* media queries */
@media screen and (max-width: 992px) {
    .container {
        width: 80%;
    }

    #uncollapsed {
        display: none;
    }

    #collapsed {
        display: flex;
    }

    .dropdown-toggle {
        cursor: pointer;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    #uncollapsed {
        display: none;
    }

    #collapsed {
        display: flex;
    }

    #collapsed .navbar-logo {
        margin-top: -0.9rem;
    }

    #home-graphic {
        width: 768px;
        position: fixed;
        left: 50%;
        transform: translate(-50%);
        /* object-fit: cover; */
    }

    .collapsed-dropdown {
        background-color: var(--dropdown-bg);
        width: 15rem;
        padding: 0 1rem;
    }

    .collapsed-dropdown:last-of-type {
        border-radius: 0 0 0.5rem 0.5rem;
    }

    .collapsed-dropdown:first-of-type {
        border-radius: 0.5rem 0.5rem 0 0;
    }
}